<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @stuff.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @stuff.body %>
</p>

<%= link_to 'Edit', edit_stuff_path(@stuff) %> |
<%= link_to 'Back', stuffs_path %>
